@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://jc-work20200106024956.azurewebsites.net/TestHelixJump/index.html">TestHelixJump </a>.</p>
</div>
